<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098265338774-jibk54vhh6uka6d4tmgmjfar7dvc75qt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098265338774-jibk54vhh6uka6d4tmgmjfar7dvc75qt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1098265338774-8nph3s9mag0me558ogk5tdvtt9ia5jmv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFCZh_lyUv57JGg4xbbts_Vy8AlaasszU</string>
	<key>GCM_SENDER_ID</key>
	<string>1098265338774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.getstack.stack</string>
	<key>PROJECT_ID</key>
	<string>stack-5ec23</string>
	<key>STORAGE_BUCKET</key>
	<string>stack-5ec23.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098265338774:ios:6bae7ac7fc38790592f3b7</string>
</dict>
</plist>